
/*button practice*/

.buttonContainer {
  width:20%;
  display: inline-block;
}

.button {
  border: none;
  outline: 0;

  padding: 8px;
  color: white;
  background-color: rgb(51, 204, 51);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 100%;

}

.button:hover {
  background-color: #555;
}

.button a {
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
font-family: "monotype corsiva";
font-size: 1.5em;
}
