

h1 {
  color:green;
  background-color: lightyellow;
  font-family: "monotype corsiva";
  text-align: center;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;

}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 28px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  color: gray;
  font-family: geogria;
  text-align: justify;
  padding: 2%;
}

.author {
  font-family: "monotype corsiva";
  color: rgb(51, 204, 51);
  text-align: right;
}
.caption {
  color: purple;
}

.title4{
  text-shadow: 2px 3px 5px gray;

}

.title5{
  text-shadow: 2px 3px 5px gray;
  margin-left: 10px;
}

.title6{
  text-shadow: 2px 3px 5px gray;
  border-style: dotted;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 40px;
}
h3 {
  color:green;
  font-family: "monotype corsiva";
  background-color: lightyellow;

}

/*button practice*/

.buttonContainer {
  width:20%;
  display: inline-block;
}

.button {
  border: none;
  outline: 0;

  padding: 8px;
  color: white;
  background-color: rgb(51, 204, 51);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 100%;

}

.button:hover {
  background-color: #555;
}

.button a {
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
font-family: "monotype corsiva";
font-size: 1.5em;
}

/*navitaion bar: top menu*/
.nav_div{
    background-color:rgb(51, 204, 51);
    width: 100%;
    height: 60px;
    padding-right:20px;
    font-size: 1.3em;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top:0;

}

.nav_div a {
  float: left;
  border-right: ridge 2px white;
  width: 25%;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "monotype corsiva";
}
.nav_div a:hover{
  background-color: purple;
  font-size: 1.33em;
  height: 20px;
}

* {
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*Style the next and previous buttons, the caption text and the dots*/
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
